header {
  background-image: url("https://live.staticflickr.com/65535/49934682271_fd6a31becc_o.jpg");
  height: 60rem;
  background-size: cover;
  background-position: center center;
}

.titulo {
  font-size: 5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
  color: #fff;
  padding-top: 150px;
}

.header__button {
  text-align: center;
  padding-top: 150px;
}

 .header__texto p {
  text-align: center;
  color: white; 
}


button {
  width: 15rem;
  height: 4rem;
  border: 0 solid;
  color: white;
  border-radius: 12px;
  background-color: green;
}
